* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header, footer {
  flex: 0 0 auto;
  height: 40px;
  background: #373533;
  color: silver;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}
#main {
  flex: 1 0 auto;
  height: calc(100vh - 80px);

  /* flex for [tree_pane, content_pane] */
  display: flex;
  flex-direction: row-reverse;
}
#tool_pane {
  flex: 0 0 auto;
  width: 30px;
  background: #3d3c39;
  position: relative;
  z-index: 10;
}
#tree_pane {
  flex: 1 0 auto;
  min-width: 200px;
  width: 20vw;
  background:  #c9472c;
  animation: tree_fadeIn 1s;
}
.bar {
  flex: 0 0 auto;
  min-width: 6px;
  max-width: 6px;
  background: silver;
}
#bar_tree {
  background: #12131f;
  border-right: 1px solid #12131f;
}
#bar_content {
  background:  #c9472c;
}
.nob {
  display: none;
  background: black;
  color: silver;
  width: 25px;
  height: 40px;
  top: 45%;
  opacity: .6;
  position: relative;
  z-index: 1;
}
#nob_tree {
  left: -25px;
}
#nob_content {
  left: 6px;
}
#nob_content::before, #nob_tree::before {
  content: attr(sign);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
#content_pane {
  flex: 3 1 auto;
  background:  #12131f;
  animation: content_fadeIn 1s;
}
.viewport {
  display: flex;
  justify-content: center;
  align-items: center;
}
.viewport iframe {
  width: 99%;
  height: 99%;
  background: #ccc;
  border-radius: 0 8px 8px 0;
}

/* hover */
.bar:hover {
  cursor: pointer;
}
#bar_content:hover > #nob_content, #nob_content:hover,
#bar_tree:hover > #nob_tree, #nob_tree:hover {
  display: block;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
  }
}
@keyframes tree_fadeIn {
  0% {
    display: none;
  }
  1% {
    display: flex;
    flex-grow: 0;
    opacity: .5;
  }
  100% {
    display: flex;
    flex-grow: 1;
    opacity: 1;
  }
}
@keyframes content_fadeIn {
  0% {
    display: none;
  }
  1% {
    display: flex;
    flex-grow: 1;
    opacity: .5;
  }
  100% {
    display: flex;
    flex-grow: 3;
    opacity: 1;
  }
}
